//Bootstrap import
@import 'node_modules/bootstrap/scss/bootstrap';

//Font import
@import '@fontsource-variable/source-code-pro';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// :root {
//     background-color: $orange;
// }

body {
    font-family: 'Source Code Pro Variable', sans-serif;

}